In [1]:
%matplotlib inline
import pandas as pd
import seaborn as sbn
sbn.set()

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                   The 86  2015

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [5]:
titles

                                          title  year
0                                The Rising Son  1990
1                             Ashes of Kukulcan  2016
2                       The Thousand Plane Raid  1969
3                              Crucea de piatra  1993
4                                        The 86  2015
5                                    Gaiking II  2011
6                                   Medusa (IV)  2015
7                               Cultural Menace  2004
8                            Alex in Wonderland  1970
9                                Women's Prison  1955
10                       Do Outro Lado do Mundo  2008
11                              Severny variant  1974
12                                Charlie's Ear  1992
13                         Insaaf Main Karoonga  1985
14                                    Hi, Buddy  1943
15                              Los siete locos  1973
16                                   Panic Room  2002
17                        Io sono un autarchico  1976
18                       Shobhna's Seven Nights  2012
19                                   Mahapurush  1965
20                                       Patria  1917
21                               Passenger Side  2009
22                                      Country  2000
23                  Ang pumatay ng dahil sa iyo  1989
24                         Conflict of Interest  1993
25                                The Syndicate  2011
26                 Suzanne, professeur de flirt  1916
27                                 Arrive Alive  1990
28                        Tera Mera Saath Rahen  2001
29      The Majestic Life of Queen Elizabeth II  2013
...                                         ...   ...
215941               Diary of a Mad Black Woman  2005
215942                   The Second Coming (IV)  2014
215943                             Grand Street  2014
215944                               Dan xin pu  1980
215945                     La zona del silencio  1990
215946                         Der Mann nebenan  1992
215947            The Legend of Kate Kensington  2015
215948                        Time of the Comet  2008
215949                                Agreement  1980
215950                      Monsters University  2013
215951                    This Killing Business  2013
215952       Berlina - Eine Reise ins Ungewisse  1991
215953                  Die Herrgottsgrenadiere  1932
215954                  Meglio baciare un cobra  1986
215955                                   Kvaska  2007
215956                             Counterpoint  1967
215957                           Den sidste dag  2004
215958               Take This Job and Shove It  1981
215959                   Le temps de l'aventure  2013
215960                          The Dark Lights  2015
215961                                  Frakchi  2004
215962              Clara no es nombre de mujer  2012
215963                                  Benzina  2001
215964                       Kasaysayan ng lahi  1973
215965                           Hu tu nu si ji  1982
215966                           Le mouton noir  1922
215967                      Edge of the Unknown  2015
215968                                    E yue  2005
215969                             Lakota Girls  2015
215970                             The Sting II  1983

[215971 rows x 2 columns]

In [6]:
print(len(titles))
print(len(cast))

215971
3336592

### What are the earliest two films listed in the titles dataframe?

In [7]:
titles.sort('year').head()

                                                    title  year
165156                                         Miss Jerry  1894
85703   Reproduction of the Corbett and Fitzsimmons Fight  1897
115895     Reproduction of the Corbett and Jeffries Fight  1899
198355        Sharkey-McCoy Fight Reproduced in 10 Rounds  1899
19144   Pierrot's Problem, or How to Make a Fat Wife O...  1900

In [8]:
# titles.sort('year').head()
titles.sort('year').tail()

                       title  year
81065   Predator Retribution  2022
26513      Spider in the Web  2022
40463                  Rosie  2022
199790        New in Village  2024
44165              Wild Runs  2024

### How many movies have the title "Hamlet"?

In [9]:
# titles.year
titles[['year', 'title']]

        year                                    title
0       1990                           The Rising Son
1       2016                        Ashes of Kukulcan
2       1969                  The Thousand Plane Raid
3       1993                         Crucea de piatra
4       2015                                   The 86
5       2011                               Gaiking II
6       2015                              Medusa (IV)
7       2004                          Cultural Menace
8       1970                       Alex in Wonderland
9       1955                           Women's Prison
10      2008                   Do Outro Lado do Mundo
11      1974                          Severny variant
12      1992                            Charlie's Ear
13      1985                     Insaaf Main Karoonga
14      1943                                Hi, Buddy
15      1973                          Los siete locos
16      2002                               Panic Room
17      1976                    Io sono un autarchico
18      2012                   Shobhna's Seven Nights
19      1965                               Mahapurush
20      1917                                   Patria
21      2009                           Passenger Side
22      2000                                  Country
23      1989              Ang pumatay ng dahil sa iyo
24      1993                     Conflict of Interest
25      2011                            The Syndicate
26      1916             Suzanne, professeur de flirt
27      1990                             Arrive Alive
28      2001                    Tera Mera Saath Rahen
29      2013  The Majestic Life of Queen Elizabeth II
...      ...                                      ...
215941  2005               Diary of a Mad Black Woman
215942  2014                   The Second Coming (IV)
215943  2014                             Grand Street
215944  1980                               Dan xin pu
215945  1990                     La zona del silencio
215946  1992                         Der Mann nebenan
215947  2015            The Legend of Kate Kensington
215948  2008                        Time of the Comet
215949  1980                                Agreement
215950  2013                      Monsters University
215951  2013                    This Killing Business
215952  1991       Berlina - Eine Reise ins Ungewisse
215953  1932                  Die Herrgottsgrenadiere
215954  1986                  Meglio baciare un cobra
215955  2007                                   Kvaska
215956  1967                             Counterpoint
215957  2004                           Den sidste dag
215958  1981               Take This Job and Shove It
215959  2013                   Le temps de l'aventure
215960  2015                          The Dark Lights
215961  2004                                  Frakchi
215962  2012              Clara no es nombre de mujer
215963  2001                                  Benzina
215964  1973                       Kasaysayan ng lahi
215965  1982                           Hu tu nu si ji
215966  1922                           Le mouton noir
215967  2015                      Edge of the Unknown
215968  2005                                    E yue
215969  2015                             Lakota Girls
215970  1983                             The Sting II

[215971 rows x 2 columns]

In [10]:
len(titles[titles.title == 'Hamlet'])

19

### How many movies are titled "North by Northwest"?

In [11]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [16]:
t = titles
t = t[t.title == 'Hamlet'].sort('year')
t.head(1)

        title  year
43481  Hamlet  1910

In [16]:
titles[titles.title == 'Hamlet'].sort('year').head()

         title  year
43481   Hamlet  1910
195024  Hamlet  1911
154575  Hamlet  1913
91720   Hamlet  1921
5547    Hamlet  1948

### List all of the "Treasure Island" movies from earliest to most recent.

In [19]:
t = titles
t = t[t.title == 'Treasure Island'].sort('year')
t

                  title  year
191385  Treasure Island  1918
47718   Treasure Island  1920
192928  Treasure Island  1934
90185   Treasure Island  1950
213041  Treasure Island  1972
103635  Treasure Island  1973
190789  Treasure Island  1985
166649  Treasure Island  1999

In [17]:
titles[titles.title == 'Treasure Island'].sort('year')

                  title  year
191385  Treasure Island  1918
47718   Treasure Island  1920
192928  Treasure Island  1934
90185   Treasure Island  1950
213041  Treasure Island  1972
103635  Treasure Island  1973
190789  Treasure Island  1985
166649  Treasure Island  1999

### How many movies were made in the year 1950?

In [21]:
t = titles
t = t[t.year == 1950]
len(t)

1037

In [18]:
len(titles[titles.year == 1950])

1037

### How many movies were made in the year 1960?

In [19]:
len(titles[titles.year == 1960])

1457

### How many movies were made from 1950 through 1959?

In [20]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12122

### In what years has a movie titled "Batman" been released?

In [21]:
titles[titles.title == 'Batman']

        title  year
52137  Batman  1989
69441  Batman  1943

### How many roles were there in the movie "Inception"?

In [32]:
len(cast[(cast.title == 'Inception')])

73

In [23]:
c = cast
c = c[c.title == 'Inception']
len(c)

73

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [33]:
len(cast[(cast.title == 'Inception') & (cast.n.isnull())])

22

In [8]:
c = cast
c = c[(c.title == 'Inception') & (c.n.isnull())]
len(c)

22

In [24]:
c = cast
c = c[(c.title == 'Inception') & (c.n.isnull())]
len(c)

22

### But how many roles in the movie "Inception" did receive an "n" value?

In [34]:
len(cast[(cast.title == 'Inception') & (cast.n.notnull())])

51

In [11]:
c = cast
c = c[(c.title == 'Inception') & (c.n.notnull())]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [37]:
cast[(cast.title == 'North by Northwest') & (cast.n.notnull())].sort('n')

,title,year,name,type,character,n
778971,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3107636,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1301695,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2796809,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
317620,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2704725,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1515268,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1138528,North by Northwest,1959,Martin Landau,actor,Leonard,8
2183294,North by Northwest,1959,Adam Williams,actor,Valerian,9
1618288,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
594967,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2048118,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
414219,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1348302,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
182317,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1236856,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [39]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort('n')

,title,year,name,type,character,n
1524146,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
290601,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
333128,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1309035,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2424114,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1294258,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [40]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort('n')

          title  year                 name     type          character   n
290602   Sleuth  2007        Michael Caine    actor             Andrew   1
1155121  Sleuth  2007             Jude Law    actor               Milo   2
1613486  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
230447   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
333129   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2424113  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
2980725  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [43]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [44]:
len(cast[(cast.title == "Hamlet") & (cast.year == 1996)])

55

### How many "Hamlet" roles have been listed in all film credits through history?

In [48]:
len(cast[cast.character == "Hamlet"])

82

### How many people have played an "Ophelia"?

In [49]:
len(cast[cast.character == "Ophelia"])

96

### How many people have played a role called "The Dude"?

In [50]:
len(cast[cast.character == "The Dude"])

16

### How many people have played a role called "The Stranger"?

In [51]:
len(cast[cast.character == "The Stranger"])

192

### How many roles has Sidney Poitier played throughout his career?

In [53]:
len(cast[cast.name == "Sidney Poitier"])

43

### How many roles has Judi Dench played?

In [54]:
len(cast[cast.name == "Judi Dench"])

51

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [14]:
cast[(cast.name == "Cary Grant") & (cast.year // 10 == 194) & (cast.n == 2)].sort('year')

                   title  year        name   type    character  n
778968  My Favorite Wife  1940  Cary Grant  actor         Nick  2
778978    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [26]:
c = cast
c = c[(c.name == 'Cary Grant') & (c.year // 10 == 194) & (c.n == 1)].sort('year')
c

,title,year,name,type,character,n
778993,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
778950,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
778995,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
778983,Suspicion,1941,Cary Grant,actor,Johnnie,1
778997,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
778974,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
778941,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
778966,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
778967,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
778975,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
778933,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
778970,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
778969,Night and Day,1946,Cary Grant,actor,Cole Porter,1
778972,Notorious,1946,Cary Grant,actor,Devlin,1
778989,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
778990,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
778965,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
778945,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
778954,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

In [57]:
cast[(cast.name == "Cary Grant") & (cast.year >= 1940) & (cast.year < 1950) & (cast.n == 1)].sort('year')

,title,year,name,type,character,n
778993,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
778950,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
778995,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
778983,Suspicion,1941,Cary Grant,actor,Johnnie,1
778997,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
778974,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
778941,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
778966,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
778967,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
778975,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
778933,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
778970,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
778969,Night and Day,1946,Cary Grant,actor,Cole Porter,1
778972,Notorious,1946,Cary Grant,actor,Devlin,1
778989,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
778990,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
778965,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
778945,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
778954,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [58]:
len(cast[(cast.year // 10 == 195) & (cast.type == "actor")])

148779

### How many roles were avilable for actresses in the 1950s?

In [59]:
len(cast[(cast.year // 10 == 195) & (cast.type == "actress")])

54164

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [60]:
len(cast[(cast.year <= 1980) & (cast.n == 1)])

61602

### How many non-leading roles were available through from the beginning of film history through 1980?

In [6]:
len(cast[(cast.year <= 1980) &(cast.n != 1)])

1052579

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [7]:
len(cast[(cast.year <= 1980) & (cast.n.isnull())])

417826